<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " de " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{replaceRE "\\[.+\\]" "" .}}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="shortcut icon" type="image/ico" href="/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/a6dd5cea-89be-4fe8-895f-51c13e3e4aea.css"/>
  <link rel="stylesheet" href="/lib/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/cloudinary-core-shrinkwrap.min.js"></script>
</head>

<body>
  {{ partial "header.html" . }}
  <main role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  <script type="text/javascript" src="/lib/semantic.min.js"></script>
  <script type="text/javascript" src="/lib/slippry.min.js"></script>
  <link rel="stylesheet" href="/lib/slippry.min.css">
  <script type="text/javascript">
    $(function () {
      $('#slider').slippry({
        // general elements & wrapper
        slippryWrapper: '<div class="sy-box topslider" />', // wrapper to wrap everything, including pager
        elements: 'li', // elments cointaining slide content

        // options
        adaptiveHeight: false, // height of the sliders adapts to current 
        captions: false,
        loop: true,
        // pager
        pager: true,
        start: 1,
        // transitions
        slideMargin: 0, // spacing between slides (in %)
        useCSS: true,
        transition: 'horizontal',
        pause: 30000,
        speed: 650,
        // slideshow
        autoDirection: 'next'
      });
      $('.ui.embed').embed();
      $('#mntbt').click(function () {
        if ($('#headermenumobil').hasClass('mobvis')) {
          $('#headermenumobil').removeClass('mobvis');
          $('#mntbt i').addClass('bars');
          $('#mntbt i').removeClass('remove');
        } else {
          $('#headermenumobil').addClass('mobvis');
          $('#mntbt i').removeClass('bars');
          $('#mntbt i').addClass('remove');
        }

      });
      $('.morebutton.detail').click(function () {
        var target=$(this).attr('data-target');
        if ($('#'+target).hasClass('small')){
          $('#'+target).addClass('big');
          $('#'+target).removeClass('small');
          $(this).find('.txt').text('schliessen');
        } else{
          $('#'+target).addClass('small');
          $('#'+target).removeClass('big');
          $(this).find('.txt').text('öffnen');
        }
        if ($('#headermenu').hasClass('mobvis')) {
          $('#headermenu').removeClass('mobvis');
        } else {
          $('#headermenu').addClass('mobvis');
        }

      });
    });
  </script>
  <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "b-coding"}); 
    cl.responsive();
</script>
</body>

</html>